body {
    margin: 0;
    padding: 0;
}

#game-list {
    text-align: center;
    padding: 0;
}

#game-list li {
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    margin-left: 10px;
}

#game-list li:first-child {
    margin-left: 0;
}

#figure-list-header {
    text-align: center;
}

#figure-list-container {
    position: absolute;
    width: 100%;
}

#figure-list {
    position: absolute;
    top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
}

#figure-list li {
    position: relative; /* so we can use absolute inside it */
    background-color: #e9e9e9;
    border: 1px solid #d3d3d3;
    display: inline-block;
    width: 175px;
    height: 205px;
    margin-right: 10px;
    margin-bottom: 10px;
}

#figure-list .figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
    height: 100%;
}

#figure-list .figure.highlight {
    background-color: #f3f3f3;
}

#figure-list .figure .figure-name {
    position: absolute;
    top: 5px;
    left: 0;
    color: #0000a0;
    font-size: 20px;
    width: 100%;
}

#figure-list .figure.not-owned .figure-name {
    color: #c0c0e0;
}

#figure-list .figure img {
    height: 150px;
    position: relative;
    top: 25px;
    width: 150px;
}

#figure-list .figure.owned.highlight img {
    opacity: 0.5;
}

#figure-list .figure.not-owned img,
#figure-list .figure.not-owned .figure-owned {
    opacity: 0.5;
}

#figure-list .figure.not-owned.highlight img,
#figure-list .figure.not-owned.highlight .figure-owned {
    opacity: 0.3;
}

#figure-list .figure .figure-owned {
    background-image: url("checkbox.png");
    cursor: pointer;
    display: inline-block;
    width: 38px;
    height: 36px;
    margin-top: 5px;
}

#figure-list .figure.owned .figure-owned {
    background-position: -95px 0;
}

#figure-list .figure.owned.highlight .figure-owned {
    background-position: -48px 0;
}
